!!!
%html.top__html{:lang => "ja"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "UTF-8"}/
    %meta{:content => "width=device-width,initial-scale=1.0,minimum-scale=1.0", :name => "viewport"}/
    %title suginami football clab
    %link{:href => "http://fonts.googleapis.com/css?family=Raleway:700,400", :rel => "stylesheet"}/
    %link{:href => "http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css", :rel => "stylesheet"}/
  %body.top__body
    %header.header
      %p.site-title-sub team profile
      %h1.site-title Suginami Football Club.
      %p.site-description Check out some of my team.
      .buttons
        %a.button{:href => "/users/sign_up"} Staff Only
        %a.button.button-showy{:href => "/groups/1/messages"} SEND MESSAGE
    %section#about.about
      %h3.heading 活動目的
      %p.about-text
        思いっきりサッカーをしたい！スポーツを楽しみたい！
        %br/
        そんな子どもたちの願いをかなえたいという保護者の思いから杉並フットボールクラブ（SFC)は1979年に発足しました。
        %br/
        「どの子も伸ばす」というコーチと協力し合い、一人ひとりを大切に…
        %br/
        そこが、ピラミッド構造の頂点を重んじるクラブチームとは異なるSFCの特徴です。
      %p.about-text
        幼稚園年中児から技術向上に燃える高校生まで、男女およそ350名の会員がいます。
        %br/
    %section#about.background
      %h3.heading NPO設立
      %p.about-text
        2003年7月、これまでの活動の経験を生かし、地域に貢献するためにNPO法人を設立しました。
        %br/
        設立以来、子どもの安心安全を第一に、親子ともに人との関わり合いを重視しています。
        %br/
        今後、さらに、地域に根ざしたスポーツクラブとしての役割を担ってゆきたいと考えます。
        %br/
    %section#guidance.guidance
      %h3.heading 指導指針・理念
      %p.guidance-text
      %h3.guidance 徹底した個人指導
      全ての子どもに可能性がある。
      %br>/
      上手い子どもをより上手くでは無く、どんな子どもも楽しく、向上心を持たせる指導。
      %h3.guidance 仲間作り
      サッカーを通じて多くの友達作り、生涯の財産につなげる。
      %h3.guidance コーチ・保護者・子どもの連携強化
      ３者間の情報を共有する事で、連帯感が生まれる。
      %br/
      コーチは指導に、保護者は子育て、子どもはサッカーに活用する事が出来る。
      %h3.guidance 生涯サッカー人を育成する
      すべての会員にサッカーの楽しさを伝え、
      %br>/
      生涯のサッカーファンになるように指導する。
      %br/
      楽しむ本質を忘れてはいけない。
      %h3.guidance スペシャリストの育成
      育成指導者として最高峰がプロ選手を誕生させる事である。
      %br/
      Ｊリーグをはじめ、海外で通用する選手を育てる。
      %h3.guidance 地域貢献
      サッカーをはじめとした活動に積極的に参加する。
    %section#class.photos
      %h3.heading CLASS
      .photos-wrapper
        .photo-box.tree
          %img.photo-image{:alt => "制作事例1", :src => "/assets/img01.jpg"}/
          .photo-description
            .photo-description-inner
              %p.photo-text
                U-18
                %br/
                高校生チームの様子です
                %br/
                %a.button.button-ghost{:href => "https://suginami-fc-youth.jimdofree.com/"} READ MORE
        .photo-box.building
          %img.photo-image{:alt => "制作事例2", :src => "/assets/U-15_01.jpg"}/
          .photo-description
            .photo-description-inner
              %p.photo-text
                U-15（男子）
                %br/
                男子中学生チームの様子です。
                %br/
                %a.button.button-ghost{:href => "http://sfc1979tokyo.com/index.html"} READ MORE
        .photo-box.lake
          %img.photo-image{:alt => "制作事例3", :src => "/assets/josi_01.jpg"}/
          .photo-description
            .photo-description-inner
              %p.photo-text
                U-15（女子）
                %br/
                女子中学生チームの様子です。
                %br/
                %a.button.button-ghost{:href => "https://www.facebook.com/pg/%E6%9D%89%E4%B8%A6FC-387953321272546/photos/?tab=album&album_id=524428074291736"} READ MORE
        .photo-box.sky
          %img.photo-image{:alt => "制作事例4", :src => "/assets/U-12_02.jpg"}/
          .photo-description
            .photo-description-inner
              %p.photo-text
                U-12
                %br/
                小学生以下のチームの様子です。
                %br/
                %a.button.button-ghost{:href => "https://www.facebook.com/pg/%E6%9D%89%E4%B8%A6FC-387953321272546/photos/?tab=album&album_id=573432639391279"} READ MORE
    %section.ATTENTIONs
      %h3.heading ATTENTION
      .ATTENTIONs-wrapper
        .ATTENTION-box
          %i.ATTENTION-icon.far.fa-futbol#icon1
          .ATTENTION-title JOIN
          %p.ATTENTION-text
            SFCでは一緒にサッカーをする仲間を随時募集しています。
            ぜひ一度親子で体験に来てください。
        .ATTENTION-box
          %i.ATTENTION-icon.fa.fa-paint-brush#icon2
          .ATTENTION-title BLOG
          %p.ATTENTION-text
            コーチのブログは必見です。
            %br/
            現場でのリアルな子どもたちの表情がわかって頂けるかと思います。
            %br/
        .ATTENTION-box
          %i.ATTENTION-icon.fa.fa-check#icon3
          .ATTENTION-title ACTIVITY
          %p.ATTENTION-text
            活動日はクラスによって異なります。
            %br/
            是非一度お問い合わせください。
    %section#contact.contact
    %footer.footer
      NPO法人　杉並フットボールクラブ