
.chat-main{
  height: calc(100vh - 100px);
  width: calc(100vw - 300px);
  background-color: #fafafa;
  float: right;
  
  .main-header{
    height: 100px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;
    border-bottom: 1px solid #eee;

    .header-left{
       margin-top: 35px;
       a{
         text-decoration: none;
         color:#333333;
       }
      .current-group{
        margin-bottom:15px;
        .member-list{
          display: flex;
        }
      }
      .member-first{
        display: flex;
        font-size: 12px;
        color: #999999;
        &__box__name{
          margin-left: 5px;
        }
      }
      
    }
    .header-right{
      margin-top: 28px;
      .edit-btn{
        font-size: 16px;
        height: 40px;
        width: 72px;
        line-height: 40px;
        border: 1px solid #38aef0;
        text-align: center;
        cursor: pointer;
        a{
          text-decoration: none;
          color: #38aef0;
        }
      }
    }
  }    
  .messages{
    height: calc(100vh - 190px);
    padding: 46px 40px;
    background-color: #fafafa;
    overflow: scroll;
    .message{
      padding-bottom: 40px;
      .one-message{
        display: flex;
        margin-bottom: 10px;
        &__name__box{
          font-weight: bold;
          color: #434A54;
          font-size: 16px;
        }
        &__name__day{
          color: #999999;
          font-size: 12px;
          margin-left: 10px;
        }
      }
      .name-box__text{
        color: #434A54;
        font-size: 14px;
        margin-bottom: 10px;
      }
      .name-box__image{
        
      }
    }
  }
  .main-footer{
  height: 90px;
  background-color: #d2d2d2;
  padding: 20px 40px;
    .new-message{
      display: flex;
      justify-content: space-between;
      &__box{
        position: relative;
        width: 100%;
        .input-text{
          height: 50px;
          width: 100%;
          padding: 0 40px 0 10px;
          color: #434A54;
          border-style: none;
          
        }
        .hyde{
          display: none;
        }
        .new-message__box__image{
          position: absolute;
          top: 10px;
          right: 10px;
          font-size: 1.3rem;
          cursor: pointer;
        }
        
      }
      .submit-btn{
        width: 100px;
        height: 50px;
        background-color: #38aef0;
        color: #ffffff;
        cursor: pointer;
        padding: 0 30px;
        margin-left: 15px;
      }
    }
  }
}
/* --------------------------------
 * smart phone
 * -------------------------------- */
 @media (max-width: 768px) {
  .chat-main{
    width: calc(100% - 180px);
  }
  .main-header{
    margin-right: 0;
  }
  .main-footer{
    width: 100%;
    position: absolute;
    left: 0;
  }
}