* {
  box-sizing: border-box;
}
.chat-side{
  width: 300px;
  background-color: #0099FF;
  height: 100vh;
  float: left;
  .side-header{
    height: 100px;
    background-color: #0099FF;
    display:flex;
    align-items: center;
    border-bottom: 1px solid skyblue;
      &__box{
        height: 20px;
        width: 260px;
        margin: 0 20px;
        display: flex;
        justify-content: space-between;
        line-height: 20px;
        color: #ffffff;
          &__user-name{
            font-size: 16px;
          }
          .edit{
            display: flex;
            a{
              color: #ffffff;
              text-decoration: none;
            }
            .edit-icon{
              margin-left: 5px;
            } 
          }
    }
  }
  .groups{
    width: 300px;
    height: calc(100vh - 100px);
    background-color: #0099FF;
    padding-top:20px;
    padding-left: 20px;
    padding-bottom: 40px;
    &__all{
      margin-bottom: 40px;
      a{
        text-decoration: none;
      }
      
      
      &__first{
        font-size: 15px;
        color: #ffffff;
      }
      &__content{
        font-size: 11px;
        color: #ffffff;
        margin-top: 5px;
      }
    }
  }
}
