@charset "UTF-8";

/* --------------------------------
 * base
 * -------------------------------- */
 .top__html {
  font-size: 62.5%;
}
.top__body {
  background: #0099FF url('') no-repeat fixed left bottom;
  background-size: cover;
  color: #fff;
  text-align: center;
  font-size: 1.4rem;
  font-family: Raleway, "Hiragino Kaku Gothic ProN",  Meiryo,  sans-serif;
}
*, *::before, *::after {
  box-sizing: border-box;

}

/* --------------------------------
 * parts
 * -------------------------------- */
.heading {
  position: relative;
  display: inline-block;
  margin: 30px 0 15px;
  padding-bottom: 15px;
  letter-spacing: 2px;
  font-size: 4rem;
}
.heading::before,
.heading::after {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  border-bottom: 1px solid #999;
}
.heading::before {
  bottom: 5px;
}
.button {
  display: inline-block;
  width: 200px;
  padding: 20px;
  border-radius: 4px;
  background-color: #afa58d;
  color: #fff;
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 1.2rem;
}
.button:hover {
  opacity: 0.9;
}
.button-showy {
  background-color: #D29E04;
}
.button-ghost {
  border: 1px solid #fff;
  background-color: rgba(255, 255, 255, 0.15);
}


/* --------------------------------
 * header
 * -------------------------------- */
.header {
  padding: 170px 30px 80px;
}
.site-title-sub {
  margin: 0 0 30px;
  letter-spacing: 1px;
  font-size: 2.2rem;
}
.site-title-sub::before,
.site-title-sub::after {
  content: '';
  display: inline-block;
  width: 140px;
  height: 2px;
  margin: 0 30px;
  background-color: #fff;
  vertical-align: middle;
}
.site-title {
  margin: 50px 0 40px;
  font-size: 7.6rem;
}
.site-description {
  margin-bottom: 50px;
  color: #fff;
  font-size: 1.6rem;
}
.buttons .button {
  margin: 10px;
}


/* --------------------------------
 * about
 * -------------------------------- */
.about {
  padding: 80px 30px;
  background-color: #fff;
  color: #333;
}
.about-text {
  margin: 30px 0;
  line-height: 2.5;
}

/* --------------------------------
 * NPO
 * -------------------------------- */

.background{
  padding: 80px 30px;
  background-color: #fff;
  color: #333;
}
.about-text {
  margin: 30px 0;
  line-height: 2.5;
}

/* --------------------------------
 * 指針
 * -------------------------------- */

.guidance{
  padding: 50px 30px;
  background-color: #fff;
  color: #333;
}
.guidance-text {
  line-height: 2.5;
}
.guidance h3{
  padding-bottom: 0;


}


/* --------------------------------
 * photos
 * -------------------------------- */
.photos {
  padding: 80px 0;
  background-color: #383634;
}
.photos-wrapper {
  display: table;
  width: 100%;
  margin-top: 60px;
  table-layout: fixed;
}
.photo-box {
  position: relative;
  display: table-cell;
}
.photo-image {
  display: block;
  width: 100%;
  margin: 0 0 60%;
}
.photo-description {
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 50%;
  overflow-y: auto;
}
.photo-description-inner {
  display: table;
  width: 100%;
  height: 100%;
  padding: 20px;
}
.photo-text {
  display: table-cell;
  vertical-align: middle;
  font-size: 1.2rem;
  line-height: 2;
}
.photo-text .button {
  width: 60%;
  margin-top: 20px;
  padding: 3px;
}
.photo-box::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 50%;
  background: no-repeat;
  background-size: 100% 100%;
  opacity: 0.2;
  transform: scaleY(-1);
}
.photo-box.tree::after {
  background-image: url("/assets/img01.jpg");
}
.photo-box.building::after {
  background-image: url('/assets/U-15_01.jpg');
}
.photo-box.lake::after {
  background-image: url('/assets/josi_01.jpg');
}
.photo-box.sky::after {
  background-image: url('/assets/U-12_02.jpg');
}
.photo-box:nth-child(odd) .photo-image {
  margin: 60% 0 0;
}
.photo-box:nth-child(odd) .photo-description,
.photo-box:nth-child(odd)::after {
  top: 0;
}
.photo-box{
  overflow: hidden;
}
.photo-box img{
  transition: -webkit-transform 0.5s ease-in-out;

}
.photo-box:nth-of-type(odd) img{
  -webkit-transform-origin: top center;
  transform-origin: top center;
}
.photo-box:nth-of-type(even) img{
  -webkit-transform-origin: bottom center;
  transform-origin: bottom center;

}
.photo-box:hover img{
  -webkit-transform:scale(1.1);
  transform: scale(1.1);
}


/* --------------------------------
 * ATTENTION
 * -------------------------------- */
.ATTENTIONs {
  padding: 80px 0;
  background-color: #fff;
  color: #333;
}
.ATTENTIONs-wrapper {
  display: table;
  width: 80%;
  margin: 50px auto 0;
  table-layout: fixed;
}
.ATTENTION-box {
  display: table-cell;
}
#icon1 {
  width: 150px;
  height: 150px;
  margin-bottom: 30px;
  border: 4px solid;
  border-radius: 50%;
  color: #f1b400;
  font-size: 8rem;
  line-height: 142px;
}
#icon2{
  width: 150px;
  height: 150px;
  margin-bottom: 30px;
  border: 4px solid;
  border-radius: 50%;
  color: #f1b400;
  font-size: 8rem;
  line-height: 142px;
}
#icon3{
  width: 150px;
  height: 150px;
  margin-bottom: 30px;
  border: 4px solid;
  border-radius: 50%;
  color: #f1b400;
  font-size: 8rem;
  line-height: 142px;
}
#icon3{
  width: 150px;
  height: 150px;
  margin-bottom: 30px;
  border: 4px solid;
  border-radius: 50%;
  color: #f1b400;
  font-size: 8rem;
  line-height: 142px;
}

.ATTENTION-title {
  margin: 0 20px 20px;
  font-size: 2rem;
}
.ATTENTION-text {
  margin: 20px 20px;
  line-height: 2;
}
a{
  text-decoration:none;
  color: black;
}

/* --------------------------------
 * contact
 * -------------------------------- */
.contact {
  padding: 80px 0 150px;
}
.contact-form {
  width: 50%;
  margin: 50px auto 0;
}
.contact-form input[type=text],
.contact-form textarea {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 15px;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 0;
  background-color: rgba(255, 255, 255, 0.05);
  color: #fff;
  resize: none;
}
.contact-form input[type=text]:focus,
.contact-form textarea:focus {
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.5) inset;
}
.contact-form textarea {
  height: 150px;
}
.contact-form input[type=submit] {
  display: block;
  width: 200px;
  margin: 40px auto 0;
  padding: 15px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 5px;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
}
.contact-form input[type=submit]:hover {
  background-color: rgba(255, 255, 255, 0.05);
}
.info{
  position: relative;
  display: inline-block;
  margin: 30px 0 15px;
  padding-bottom: 15px;
  letter-spacing: 2px;
  font-size: 4rem;
  color:#fff
}
.info::before,
.info::after {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;

}
.info::before {
  bottom: 5px;
}


/* --------------------------------
 * footer
 * -------------------------------- */
.footer {
  padding: 12px 0;
  font-size: 1.3rem;
}


/* --------------------------------
 * smart phone
 * -------------------------------- */
@media (max-width: 1024px) {
  .top__body {
    background-image: none;
  }
  .guidance h3{
    padding-bottom: 0;
    margin: 10px 0;
  }

}
@media (max-width: 768px) {
  .top__body {
    font-size: 1.3rem;
  }
  .heading {
    margin-top: 20px;
    font-size: 2.5rem;
  }
  .button:hover {
    opacity: 1;
  }

  /* --- header --- */
  .header {
    padding-top: 60px;
  }
  .site-title-sub {
    font-size: 1.7rem;
  }
  .site-title-sub::before,
  .site-title-sub::after {
    display: block;
    width: 80%;
    margin: 10px auto;
  }
  .site-title {
    margin-top: 35px;
    font-size: 5rem;
  }

  /* --- about --- */
  .about-text {
    line-height: 1.8;
  }

  /* --- class --- */
  .photos-wrapper,
  .photo-box {
    display: block;
  }
  .photo-image {
    display: none;
  }
  .photo-description {
    position: relative;
  }
  .photo-box::after {
    top: 0;
    height: 100%;
    background-size: cover;
    transform: none;
  }


  /* --- ATTENTIONs --- */
  .ATTENTIONs-wrapper,
  .ATTENTION-box {
    display: block;
  }
  .ATTENTION-box {
    margin: 40px auto;
  }
  .ATTENTION-icon {
    width: 100px;
    height: 100px;
    font-size: 5rem;
    line-height: 92px;
  }
  .ATTENTION-text {
    margin: 0;
  }

  /* --- contact --- */
  .contact {
    padding-bottom: 80px;
  }
  .contact-form {
    width: 80%;
  }
  .guidance{
    padding: 50px 30px;
    background-color: #fff;
    color: #333;
  }
  .guidance h3{
    padding-bottom: 0;
    margin: 10px 0;

  }

}


/* --------------------------------
 * challenge
 *
 * 31行目からの.heading::before, .heading::afterの
 * スタイルをコメントアウトしてから適用してください。
 * -------------------------------- */
/*
.heading::before,
.heading::after {
  content: '';
  display: inline-block;
  width: 0.3em;
  height: 0.3em;
  margin: 0 0.5em;
  border: 1px solid;
  vertical-align: 0.2em;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.work-box {
  overflow: hidden;
}
.work-image {
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
}
.work-box:nth-child(odd) .work-image {
  -webkit-transform-origin: top center;
  transform-origin: top center;
}
.work-box:nth-child(even) .work-image {
  -webkit-transform-origin: bottom center;
  transform-origin: bottom center;
}
.work-box:hover .work-image {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
*/
